<div class="page">
    <div class="text">
        <div>
            <h1>О КОМПАНИИ</h1>
            <p> Компания «Дела ремонта» была основана в 2013 году и собрала в свои ряды опытных специалистов с рынка продаж и укладки напольных материалов. Мы готовы предложить широкий ассортимент современных строительных и отделочных материалов, которые
                сделают ваш дом красивым и надежным, а ваше проживание в нём — комфортным.
            </p>
            <p>Отличительные черты организации нашей работы, которые будут удобны и полезны для вас:
            </p>


            <span> 1. Являясь узкоспециализированной компанией, предлагаем только те строительные
            материалы, в надежности которых мы уверены на 100%.
        </span><br>

            <span> 2. Прямые контракты с отечественными производителями либо представителями
            зарубежных заводов позволяют нам предоставлять своим заказчикам
            конкурентоспособные цены и минимальные сроки поставки.
        </span><br>

            <span> 3. Весь поставляемый нами товар прошел необходимую сертификацию, что
            подтверждается соответствующими документами.
        </span><br>

            <span>4. Мы предоставляем своим заказчикам весь комплекс услуг:</span><br>

            <li> предварительная консультация и помощь в выборе оптимального материала, исходя из индивидуальных условий;</li>
            <li> замеры;</li>
            <li> консультация непосредственно на объекте;</li>
            <li> бесплатный расчёт требуемого количества материалов с минимизацией остатков и отходов;</li>
            <li> организация доставки и разгрузки материалов на объекте;</li>
            <li> профессиональный монтаж; гарантийное и постгарантийное обслуживание.</li>


            <p> Мы рады помочь вам грамотно и экономно обустроить жилье. Самые ценные советы — это те, что помогают избежать ошибок. Обращайтесь к нам на этапе проектирования и расчета расходов!
            </p><br>

            <p><i> С уважением,
                коллектив компании «Дела ремонта»
        </p></i>

        </div>
    </div>
</div>