<div class="page">
    <div class="text">
        <div>
            <h1>КАК ВЫБРАТЬ ЛАМИНАТ</h1>
            <p> Хотите быстро выбрать и оформить заказ, не изучая тонны информации и не проводя дни напролет в салонах и строительных магазинах? Мы подготовили исчерпывающую информацию, чтобы вы ознакомились с нашим ассортиментом и сделали покупку без стресса
                и мук сомнений! Определяющие факторы при покупке ламината:</p>
            <h2>Плотность</h2>

            <p> Параметр толщины ламинированного пола не определяет его прочность. Лучше обратите внимание на плотность плиты HDF, которая служит основанием в каждой пласти. Именно плотность определяет сопротивляемость досок ламината изгибанию и впитываемости
                влаги. Высокой степенью надёжности отличается продукция тех производителей, которые предлагают плиту ДВП с плотностью от 900 кг\м3 и выше. Некоторые производители увеличивают толщину пласти, не увеличивая плотность, что отрицательно сказывается
                на характеристиках продукции. Высокая плотность плиты напрямую влияет на цену ламината, однако выгода здесь очевидна: вы купите покрытие, которое прослужит вам более 20 лет. Мы предлагаем именно такую продукцию.</p>
            <h2> Влагозащита</h2>

            <p> Параметр влагозащиты ламината напрямую связан с:</p>
            <li> плотностью плиты HDF,</li>
            <li> восковой пропиткой,</li>
            <li> обработкой замков соединения специальным восковым составом.</li>
            <p> Обратите внимание на боковой и торцевой стык пластин. Проведите пальцами по замковому соединению так, как будто стираете пыль. Если пальцы немного слипаются - замок обработан воском и не боится открытой влаги, которая способна просачиваться
                между стыками пластин. Ламинированный пол с такими параметрами пригоден для жилых комнат, кухни, прихожей – любых помещений, также ниже уровня земли.</p>
            <h2> Гарантия и параметр износа</h2>

            <p> Распространённое заблуждение, которым пользуются недобросовестные производители и продавцы - «34-й класс» истираемости. Если вам нужно купить ламинат для стандартных жилых условий, то с лихвой будет достаточно 32-го класса. В офисы укладывается
                33 класс, который изготовлен специально для общественных зданий с высокой проходимостью. Существует Табер-тест, который определяет параметр износа покрытия специальным прибором: фрагмент ламината шлифуется до состояния полного износа,
                при этом абразивная шкурка подлежит замене каждые 100 оборотов. Чтобы «получить» 32-й класс износостойкости, продукция должна выдержать нагрузку свыше 4000 оборотов. Способны ли вы так «износить» покрытие в доме? В ассортименте присутствуют
                коллекции 32, 33 класса, гарантия, при соблюдении технических условий, составляет до 30 лет непрерывной эксплуатации. </p>

            <h2> Происхождение</h2>
            <p> Экологические стандарты, которыми руководствуется производитель, зависят от законодательства и в случае со странами ЕС, эти стандарты очень строгие! Изготовленный в Австрии или Германии ламинат смело стелят в детских комнатах или помещениях
                для людей склонных к аллергии. Обратите внимание на сертификат der Blaue Engel (стандарт качества для ЕС) и Greenguard (для США и Канады). Условия жёсткой конкуренции производителей из Европы - мощнейший фактор для соблюдения качества
                и технических допусков. Производителям приходится предлагать инновационные решения в области дизайна, обработки и имитации поверхности, цвета и т.д. Так, к примеру, вы можете осуществить монтаж ламината Kaindl на вертикальную поверхность
                – стены.</p> <br>

            <p> Компания «Дела ремонта»- это не только широкий ассортимент, но и:
                <li> доступные цены на ламинат,</li>
                <li>наличие товара на складе,</li>
                <li>доставка,</li>
                <li> услуги по укладке материала с гарантией 1 год,</li>
                <li>ассортимент из более чем 400 позиций,</li>

                <li>большой выбор размеров пласти ламината. (Самым распространенным является: 1383х193х8 мм.)</li>
            </p>
        </div>

    </div>
</div>